@charset "UTF-8"

@import 'components/variables-mixins'
@import 'components/normalize'
@import 'components/grid'
@import 'components/utilities'
@import 'components/slick'
@import 'components/preloader'
@import 'components/imagelightbox'
@import 'components/featherlight'



* 
	box-sizing: border-box


p, a, li, h1, h2, h3, h4, input, textarea
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale

a
	color: white
	text-decoration: none
	cursor: pointer

p
	line-height: 1.45

body 
	font-size: 100%
	font-family: 'Merriweather', 'Helvetica Neue', Helvetica, sans-serif
	color: $darkgray
	background: #f2f0ed
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale
	font-size: 100%
	line-height: 1.3
	position: relative
	overflow-x: hidden !important

\::selection
	color: white
	background: rgba(196,152,95,0.7)

\::-moz-selection
	color: white
	background: rgba(196,152,95,0.7)

.btn
	display: inline-block
	text-align: center
	cursor: pointer
	text-transform: uppercase
	height: 44px
	line-height: 44px


	&.btn-main
		border: 2px solid white
		padding: 0px 24px
		font-weight: 700
		border-radius: 4px
		background-clip: padding-box
		@include hover

		&:hover
			padding: 0px 32px
			border-color: rgba(196,152,95,0.7)
			background-color: rgba(196,152,95,0.7)
		
		&.btn-contact-red, &.btn-contact-gold
			font-size: 0.9em
			width: 100%

			i
				font-size: 1.4em
				top: 2px
				position: relative

		&.btn-contact-red
			border-color: #f76657
			color: #f76657

		&.btn-contact-gold
			border-color: $gold
			color: $gold

	&.btn-main.btn-althover:hover
		padding: 0px 24px
		color: $darkgray
		border-color: white
		background-color: white

		&.btn-contact-red
			border-color: #f76657
			background-color: #f76657
			color: white

		&.btn-contact-gold
			border-color: $gold
			background-color: $gold
			color: white

	&.btn-small
		height: 38px
		line-height: 38px
		padding: 0px 18px

		&:hover
			padding: 0 18px !important

.main-title
	font-size: 3.2em
	font-weight: 300
	font-style: italic
	color: white
	margin: 0 0 60px 0
	text-align: center

	span
		height: 1px
		display: block
		background: white
		margin-left: auto
		margin-right: auto

	.text
		height: auto
		background: transparent !important

		span
			height: auto
			display: inline
			background: none
			margin: 0

		.blast
			opacity: 0

	.line-1
		width: 110px
		margin-bottom: 3px

	.line-2
		width: 145px
		margin-bottom: 15px

	.line-3
		width: 145px
		margin-bottom: 3px
		margin-top: 15px

	.line-4
		width: 110px

	@media only screen and (max-width : 600px)
		font-size: 2.8em

	@media only screen and (max-width : 400px)
		font-size: 2.4em
	
	@media only screen and (max-width : 340px)
		font-size: 2.2em

h3.main-title
	font-size: 2.5em

	@media only screen and (max-width : 600px)
		font-size: 2.3em

	@media only screen and (max-width : 400px)
		font-size: 2.1em

	@media only screen and (max-width : 240px)
		font-size: 1.9em


header
	width: 100%
	display: block
	overflow: hidden
	position: relative
	top: 0
	z-index: 1

	nav
		width: 100%
		position: absolute
		top: 0
		z-index: 2

		.nav-topbar
			width: 100%
			background: black
			background: rgba(0,0,0,0.3)
			padding: 5px 30px

			.topbar-lang
				display: inline-block
				float: left
				position: relative
				top: 2px

				.lang
					display: inline-block
					width: 22px
					height: 16px
					cursor: pointer
					margin-right: 6px
					@include hover

					&.br
						background: url(../img/lang-br.png)
						@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)
							background-image: url(../img/lang-br@2x.png)
							background-size: 22px 16px
					&.en
						background: url(../img/lang-en.png)
						@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)
							background-image: url(../img/lang-en@2x.png)
							background-size: 22px 16px
					&.es
						background: url(../img/lang-es.png)
						@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)
							background-image: url(../img/lang-es@2x.png)
							background-size: 22px 16px

					&:hover
						opacity: 0.5

			.topbar-fb
				display: inline-block
				float: right
				position: relative
				top: 2px
				text-align: right

				a
					display: inline-block
					font-size: 0.75em
					font-weight: 600
					text-transform: uppercase
					position: relative
					top: -1px

					i
						display: inline-block
						@include hover
						font-size: 1.4em
						line-height: 0px
						position: relative
						top: 2px
						margin-right: 10px
						transform: scale(1)

					&:hover
						i
							transform: scale(1.3) !important
							color: #3b5998

		.nav-main
			padding: 15px 30px

			@media only screen and (max-width : 1120px)
				padding: 15px

			@media only screen and (max-width : 1023px)
				padding: 15px 30px

			@media only screen and (max-width : 500px)
				padding: 15px


		.nav-items
			float: right
			width: 100%
			list-style: none
			margin: 0
			padding: 0
			text-align: right
			position: relative
			top: -25px

			.nav-item
				display: inline-block
				text-align: center
				margin-left: 32px
				height: 30px

				@media only screen and (max-width : 1120px)
					margin-left: 17px

				@media only screen and (max-width : 1023px)
					display: none

				a
					display: inline-block
					text-transform: uppercase
					font-size: 0.9em
					font-weight: 700
					line-height: 30px
				

				span
					display: block
					width: 0px
					height: 1px
					background-color: white
					opacity: 0
					@include hover

			.nav-booking
				display: inline-block
				text-align: center
				margin-left: 32px

				@media only screen and (max-width : 1023px)
					display: none

				a
					font-size: 0.9em

					i
						font-size: 1.3em
						position: relative
						top: 2px
						right: -4px

			li:hover
				span
					width: 100%
					opacity: 1

			.nav-panel-toggle
				display: none

				@media only screen and (max-width : 1023px)
					display: inline-block

				button
					width: 70px
					height: 70px
					line-height: 70px			
					font-size: 3em
					position: relative
					top: -15px
					background: none
					border: 0
					outline: 0
					color: white

					i
						position: relative
						top: 5px
						z-index: 2

					span
						width: 70px
						height: 70px
						display: inline-block
						position: absolute
						z-index: 1
						top: 0
						left: 0
						right: 0
						bottom: 0
						border-radius: 35px
						background: rgba(196,152,95,0.7)
						opacity: 0
						transform: scale(2)
						@include hover-slow

					&:hover
						span
							opacity: 1
							transform: scale(1)

.header-default
	background-color: $gold

	nav
		position: relative

	.header-default-content
		padding-top: 40px

		@media only screen and (max-width : 1023px)
			padding-top: 0px

		@media only screen and (max-width : 767px)
			.main-title
				margin-bottom: 40px

	&.rooms
		background: url(../img/header-rooms-bg.jpg)
		background-size: cover
		color: white

	&.gastronomy
		background: url(../img/header-gastronomy-bg.jpg)
		background-size: cover
		color: white

		.header-default-content
			padding-bottom: 40px

		.main-title
			padding: 0 40px

	&.salones
		background: url(../img/header-salones-bg.jpg)
		background-size: cover
		color: white

		.header-default-content
			padding-bottom: 40px

		.main-title
			padding: 0 40px

			.text
				span
					opacity: 0

	&.contact
		.nav-default
			@include gradient(rgba(0,0,0,0.7), rgba(0,0,0,0)) 
			padding-bottom: 35px

			.nav-topbar
				background: transparent

.nav-logo
	width: 141px
	height: 53px
	display: inline-block
	float: left
	background: url('../img/header-logo.png')
	position: relative
	top: 14px
	left: 18px
	z-index: 4

	@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)
		background-image: url('../img/header-logo@2x.png')
		background-size: 141px 53px

.nav-panel
	display: none
	background-color: darken($darkgray,15)

	ul
		list-style: none
		padding: 15px 0 0 0
		margin: 0

		li
			a
				display: block
				font-size: 1em
				text-transform: uppercase
				padding: 18px 25px
				border-bottom: 1px solid darken($darkgray,7)
				@include hover

				&:hover
					background-color: darken($darkgray,7)

			a.nav-panel-booking
				background-color: darken($gold,15)
				
				&:hover
					background-color: $gold

.header-slider
	width: 100%
	height: 100%
	position: absolute
	z-index: 0

	.slide

		.bg
			width: 100%
			height: 100%
			background-size: cover
			z-index: 0
			position: absolute
			top: 0

			&.home-1
				background-image: url(../img/slider/home-1.jpg)
			&.home-2
				background-image: url(../img/slider/home-2.jpg)
			&.home-3
				background-image: url(../img/slider/home-3.jpg)

	.slide-centering
		display: table
		width: 100%
		height: 100%
		z-index: 2
		position: relative

		.slide-content
			display: table-cell
			vertical-align: middle
			text-align: center


.slide-home-featured
	width: auto
	max-width: 767px
	margin: 0 auto
	padding: 0 40px
	color: white

	p
		margin: 0

		strong
			font-size: 1.4em
			text-transform: uppercase
			margin: 0

		em
			font-size: 1.2em

	h1
		font-size: 3.8em
		text-transform: uppercase
		font-weight: 800
		margin: 3px 0 3px 0

	.btn
		margin-top: 35px
		opacity: 0

	@media only screen and (max-height : 580px)
		position: relative
		top: 50px

	@media only screen and (max-height : 480px)
		position: relative
		top: 65px

	@media only screen and (max-width : 767px)
		font-size: 0.9em

		h1
			font-size: 3.4em
			line-height: 48px
			margin: 8px 0 8px 0

	@media only screen and (max-width : 580px)
		font-size: 0.9em

	&.gastronomy
		@media only screen and (max-width : 767px)
			strong
				font-size: 1.2em

			h1
				font-size: 3.5em

		@media only screen and (max-width : 500px)
			strong
				font-size: 1.1em

			h1
				font-size: 2.5em
		
		@media only screen and (max-width : 390px)
			padding: 0

			strong
				font-size: 1.05em

			h1
				margin-top: 0
				font-size: 2.3em

			p
				padding: 0 30px

		@media only screen and (max-width : 350px)
			strong
				font-size: 0.9em

			h1
				font-size: 2.3em

.section-about
	padding: 70px 0

	.main-title
		color: $orange

		span
			background-color: $orange

		@media only screen and (max-width : 767px)
			margin-bottom: 30px

	p
		padding: 0 10px


.rooms-info
	padding-bottom: 70px

	p:first-child
		margin-top: 0

	@media only screen and (max-width : 767px)
		text-align: center
		padding: 0 30px 40px 30px

.rooms-amenities
	text-align: center
	span
		background-color: $gold
		background-color: rgba(196,152,95,0.7)
		text-transform: uppercase
		font-weight: 600
		padding: 8px 14px
		display: inline-block
		margin: 0 8px 8px 0
		text-align: center
		opacity: 0
		
		@media only screen and (max-width : 991px)
			font-size: 0.9em

		@media only screen and (max-width : 640px)
			font-size: 0.85em
			display: block !important
			margin: 0 0 5px 0

		em
			font-style: normal
			font-size: 0.8em
			position: relative
			top: -2px
			margin-left: 2px

	.warning
		font-size: 0.8em

	@media only screen and (max-width : 767px)
		margin-top: 40px


.room
	width: 50%
	height: 250px
	display: inline-block
	float: left
	position: relative
	background: black
	overflow: hidden
	@include hover

	&:hover
		.main-title
			transform: scale(0.9)

		.room-bg
			opacity: 0.7
			transform: scale(1.15)

	@media only screen and (max-width : 767px)
		width: 100%
		height: 200px
		float: none
		display: block

	.room-wrapper
		display: table
		position: absolute
		width: 100%
		height: 100%
		z-index: 2

		.room-content
			display: table-cell
			height: 100%
			vertical-align: middle

			.main-title
				margin: 0
				@include hover-slow

	.room-bg
		width: 100%
		height: 100%
		position: absolute
		z-index: 0
		background-size: cover
		@include hover-slow

	&.room-1
		.room-bg
			background-image: url(../img/rooms-bg-1.jpg)
	&.room-2
		.room-bg
			background-image: url(../img/rooms-bg-2.jpg)
	&.room-3
		.room-bg
			background-image: url(../img/rooms-bg-3.jpg)
	&.room-4
		.room-bg
			background-image: url(../img/rooms-bg-4.jpg)


section.section-list
	padding: 40px 0
	background-color: #F2F0ED

	.list-item
		height: 330px
		margin-bottom: 20px
		position: relative
		background-color: darken(#F2F0ED,5)

		.pic, .text
			width: 50%
			height: 100%
			float: left
			display: inline-block

		.pic
			background-size: cover
			position: relative

			&.pic-1
				background-image: url(../img/restaurant-1.jpg)
			&.pic-2
				background-image: url(../img/bar-1.jpg)
			&.pic-3
				background-image: url(../img/gym-1.jpg)
			&.salon-1
				background-image: url(../img/salon-1.jpg)
			&.salon-2
				background-image: url(../img/salon-2.jpg)
			
			.pic-overlay
				width: 100%
				padding: 60px 0 25px 0
				text-align: center
				position: absolute
				bottom: 0
				@include gradient(rgba(0,0,0,0), rgba(0,0,0,0.8))


		.text
			padding: 0px 35px
			border: solid
			border-width: 1px 1px 1px 0
			border-color: darken(#F2F0ED,12)

			h3
				font-size: 1.6em
				font-weight: 600


		&.salon
			.text
				font-size: 0.9em

			h3
				@media only screen and (max-width : 440px)
					font-size: 1.8em

			h3 span
				background-color: $gold
				font-size: 14px
				text-transform: uppercase
				color: white
				padding: 10px 14px 8px 14px
				margin-left: 15px
				position: relative
				top: -2px

				@media only screen and (max-width : 440px)
					width: 140px
					display: block
					text-align: center
					margin: 10px 0 0 0
					top: auto

		&.alt
			.pic
				float: right
				
			.text
				border-width: 1px 0px 1px 1px
		
		@media only screen and (max-width : 991px)
			.pic
				width: 40%

			.text
				width: 60%

		@media only screen and (max-width : 767px)
			height: auto

			.pic, .text
				width: 100%
				display: block
				float: none !important
			
			.pic
				height: 230px

			.text
				height: auto
				padding: 0px 25px

				p:last-child
					padding-bottom: 15px

		@media only screen and (max-width : 550px)
			.pic
				height: 180px


section.contact-items
	background: darken($darkgray,6)
	z-index: 5
	position: relative

	.container
		position: relative
		top: -110px


	.contact-item
		background: white
		text-align: center
		box-shadow: 0px 0px 20px rgba(0,0,0,0.3)
		
		@media only screen and (max-width : 991px)
			margin-bottom: 25px

		.header
			background-color: $gold
			color: white
			padding: 28px 0
			height: 74px

			&.alt
				background-color: #f76657

			h4
				text-transform: uppercase
				font-size: 1.15em
				font-weight: 800
				line-height: 0
				margin: 0

				i
					margin-right: 5px

		.content
			height: 210px
			padding: 40px 32px
			line-height: 1.35

			address
				font-weight: 400 !important
				font-style: normal
				margin-bottom: 30px

				strong
					font-weight: 800 !important
			
			.contact-phone, .contact-fax
				p
					margin: 0
					font-size: 1.2em
					letter-spacing: -0.02em

					span
						color: #8d8d8d
						font-style: italic

				.desc
					color: #8d8d8d
					font-size: 0.9em

			.contact-phone
				p
					font-size: 1.5em

				.desc
					margin-bottom: 24px

			.contact-mail
				p
					margin: 0 0 25px 0

				.btn
					margin-bottom: 8px


.body-contact
	background: darken($darkgray,6)
	
	header nav .nav-topbar .topbar-fb a:hover i
		color: white

.body-contact.js
	@media only screen and (min-width : 992px)
		overflow-y: hidden !important

footer
	padding: 20px 0
	background: darken($darkgray,6)
	color: white
	text-align: center

	i, p
		display: inline-block
	
	i
		font-size: 1.4em
		margin-right: 10px

	p
		margin: 0

	.addr
		i
			position: relative
			top: -8px

		p
			text-align: left

			strong
				font-weight: 800

	.phone, .mail
		position: relative
		top: 9px

	.phone
		i
			position: relative
			top: 3px

		em
			color: lighten($darkgray,40)

	@media only screen and (max-width : 991px)
		padding: 27px 0 20px 0

		i
			display: block

		.addr, .phone, .mai
			left: -14px

			i
				top: auto

		.addr
			i
				margin-bottom: 10px
			p
				text-align: center
		.phone
			top: 10px
			i
				margin-bottom: 8px
		.mail
			i
				margin-bottom: 13px

	@media only screen and (max-width : 830px)
		font-size: 0.9em

	@media only screen and (max-width : 767px)
		font-size: 1em

		.col-xs-4
			display: block
			float: none
			width: 300px
			margin: 0 auto 0 auto
			padding: 12px 0
			border-bottom: 1px solid lighten($darkgray,3)
		
		.addr, .phone, .mail
			top: auto
			left: auto

		.addr
			p
				text-align: left

			i
				top: -8px

		.phone
			i
				top: 4px

		.mail
			border-bottom: none

			i
				top: 3px

		i
			display: inline-block

#contact-map-container
	min-height: 250px !important
	//max-height: 550px

.contact-map
	width: 100%
	height: 100%
	position: absolute
	top: 0

.contact-iframe
	max-width: 500px

	h4
		font-size: 1.2em
		text-align: center
		text-transform: uppercase
		margin: 0
		padding: 28px 0
		background-color: $gold
		color: white
		line-height: 0

		i
			margin-right: 5px

	.contact-iframe-close
		display: block
		background-color: darken($gold,11)
		color: white
		padding: 7px 0 9px 0
		text-align: center
		text-transform: uppercase
		font-size: 0.8em
		@include hover

		i
			font-size: 1.6em
			position: relative
			top: 3px

		&:hover
			background-color: darken($gold,18)

.contact-iframe-container
	padding: 25px

	&.centered
		text-align: center
	
	.spacer-top
		margin-top: 40px

.form-item
	margin-bottom: 25px
	
.label-default
	font-size: 0.8em
	text-transform: uppercase
	font-weight: 600

.input-default[type="text"], .input-default[type="email"], .input-default[type="tel"]
	width: 100%
	border: 0px
	border-bottom: 2px solid $darkgray
	padding: 6px 20px 6px 0px
	margin-top: 2px
	outline: 0
	@include hover

	&:focus
		border-color: $gold

.input-default.textarea
	width: 100%
	border: 2px solid $darkgray
	padding: 15px
	margin-top: 10px
	outline: 0
	@include hover

	&:focus
		border-color: $gold
